@import url('https://fonts.googleapis.com/css?family=Poppins:400,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

section .content{
    text-align: center;
}

section .content h2{
    font-size: 24vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
}
section:nth-child(1) .content h2{
    background-image: url(https://images.pexels.com/photos/1695050/pexels-photo-1695050.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);

}
section:nth-child(2) .content h2{
    background-image: url(https://images.pexels.com/photos/261403/pexels-photo-261403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    
}
section:nth-child(3) .content h2{
    background-image: url(https://images.pexels.com/photos/989946/pexels-photo-989946.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    
}
section:nth-child(4) .content h2{
    background-image: url(https://images.pexels.com/photos/247666/pexels-photo-247666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    
}
section .content p{
    min-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

section .content a{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    margin-top: 20px;
}